/* Reset some default styles */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Content styles */
.content {
  text-align: center;
  padding: 20px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
