<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />

    <title>Dublin Bikes</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <div class="search-container">
        <input
          id="autocomplete"
          type="text"
          placeholder="Search..."
          class="search-input"
        />
        <button class="search-button" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <!-- Content -->
      <div class="content">
        <div id="map"></div>
      </div>

      <!-- slide panel -->
      <div id="stationDetailsPanel" class="station-details-panel">
        <button type="button" class="search-button" onclick="closePanel()">
          <i class="bi bi-x-circle"></i>
        </button>

        <div id="stationList" class="station-list">
          Select a location to see nearby stations.
          <div id="predictionsContainer">
            <select id="dateSelector" onchange="filterPredictionsByDate()">
            <!-- Options will be populated dynamically -->
            </select>
          </div>
        </div>
      </div>

    <!-- Footer -->
    <footer class="footer">
      <p>&copy; 2024 Dublin Bikes.</p>
    </footer>
  </body>
  <!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsQEUc9xAcLloCcowLAgPtEMc5Ir1NgFE&callback=initMap&libraries=places"
    async
    defer
  ></script> -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsQEUc9xAcLloCcowLAgPtEMc5Ir1NgFE&libraries=places,geometry&callback=initMap"
    async
    defer
  ></script>

  <script src="../static/scripts.js"></script>
</html>