/* Custom styles for the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar {
  background-color: black;
  color: white;
  height: 100vh;
  width: 200px;
  position: fixed;
  overflow-y: auto;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

.navbar li {
  padding: 10px;
  border-bottom: 1px solid #3d3b3b;
}

.navbar li a {
  color: white;
  text-decoration: none;
  display: block;
}

.navbar li:hover {
  background-color: blanchedalmond;
}

.page-header {
  color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: row; /* Changed from column to row for horizontal alignment */
  align-items: center;
  justify-content: space-between; /* Adjusted for spacing between elements */
  width: 100%; /* Ensure full width */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  object-fit: contain;
}

.user-icon {
  width: 50px; /* Adjusted for a more suitable size */
  height: 50px; /* Adjusted for a more suitable size */
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username {
  color: white;
  margin-left: 10px; /* Added margin for spacing */
}

/* Adjusting the logo size */
.DB_logo {
  width: 80px; /* Adjusted the width for a better fit */
  height: auto; /* Maintain aspect ratio */
  border-radius: 17%; /*Gave rounded edges to logo for aesthetic look*/
}

h1 {
  font-size: 16px; /* Adjusted font size of logo for better fit*/
}

/* Additional styles for responsiveness and aesthetics */
@media (max-width: 768px) {
  .navbar {
    width: 100px;
  }

  .DB_logo {
    width: 80px; /* Smaller logo for smaller screens */
  }

  .user-icon {
    width: 40px;
    height: 40px;
  }
}

.map-container {
  position: relative;
  width: calc(100% - 200px); /* 与侧边栏宽度对应调整宽度 */
  margin-left: 200px; /* 为侧边栏留出空间 */
  height: 500px; /* 地图容器高度 */
  display: none; /* 确保地图容器显示 */
}

/* 地图顶部的控件容器 */
.map-top-controls {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* 控件与容器边缘的间距 */
  z-index: 5; /* 确保控件显示在地图之上 */
}

.map-search input,
.map-search button,
.map-buttons button,
.charts-dropdown button {
  margin-right: 10px; /* 元素间的间距 */
}

/* 确保下拉列表样式与Bootstrap一致 */
.charts-dropdown .dropdown-menu {
  position: absolute;
  top: 100%; /* 下拉列表显示在按钮下方 */
  left: 0;
  z-index: 1000;
}

/* 地图容器样式 */
#map {
  height: 100%;
  width: 100%;
}

/* 其他样式维持不变 */

/* 地图容器 */
#map {
  position: absolute;
  top: 100px; /* 地图位于搜索框和按钮下方 */
  left: 0;
  width: 100%;
  height: calc(100% - 50px); /* 地图高度减去搜索框和按钮的高度 */
}
